.root {
	display: flex;
	flex-direction: column;
	gap: var(--space-16);
	border: none;
	padding: 0;
	margin: 0;
}

.legend {
	font-size: var(--font-size-6);
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-6);
	letter-spacing: var(--letter-spacing-9);
	color: var(--gray-12);
	padding: 0;
	padding-bottom: var(--space-12);
	border-bottom: 1px solid var(--gray-6);
}
